<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li class="active"><a href="/#Getting Started">Getting Started</a></li>
    <li class="active"><a href="/#Authentication">Authentication</a></li>
    <li class="active"><a href="/#HSDA Full">HSDA Full</a></li>
    <li class="active"><a href="/detail/">HSDA Detail</a></li>
    <li class="active"><a href="/search/">HSDA Search</a></li>
    <li class="active"><a href="/taxonomy/">HSDA Taxonomy</a></li>
    <li class="active"><a href="/meta/">HSDA Meta</a></li>
    <li class="active"><a href="/management/">HSDA Management</a></li>
    <li class="active"><a href="/#Support">Support</a></li>
    <li class="active"><a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}" target="_blank">Github</a></li>
  </ul>
</nav>
